<key>UIBackgroundModes</key>
<array>
    <string>remote-notification</string>
</array>
<key>CFBundleDisplayName</key>
<string>MujBites</string>
<key>CFBundleName</key>
<string>MujBites</string>
<key>LSApplicationQueriesSchemes</key>
<array>
    <string>http</string>
    <string>https</string>
</array> 